<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Principal.Master.cs" Inherits="Operativ.Web.Master.Principal" %>
<%@ Register TagPrefix="uc" TagName="Navbar" Src="~/Paginas/Controles/Navbar.ascx" %>
<%@ Register TagPrefix="uc" TagName="Footer" Src="~/Paginas/Controles/Footer.ascx" %>
<%@ Register TagPrefix="uc" TagName="ResumenUsuario" Src="~/Paginas/Controles/ResumenUsuario.ascx" %>
<%@ Register TagPrefix="uc" TagName="Notificaciones" Src="~/Paginas/Controles/Notificaciones.ascx" %>
<%@ Register TagPrefix="uc" TagName="ModalCambiarClave" Src="~/Paginas/Controles/ModalCambiarClave.ascx" %>
<!DOCTYPE html>
<html>
<head runat="server">
    <title>Operativ</title>
    <link runat="server" rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&amp;display=swap" rel="stylesheet" />
    <link runat="server" rel="stylesheet" type="text/css" href="~/Estilos/operativ.css" />
    <script type="text/javascript" src="<%= ResolveUrl("~/Scripts/operativ-ui.js") %>"></script>
</head>
<body>
    <form id="formPrincipal" runat="server">
        <div class="encabezado">
            <uc:Navbar ID="ucNavbar" runat="server" />
            <uc:ResumenUsuario ID="ucResumenUsuario" runat="server" />
        </div>
        <uc:Notificaciones ID="ucNotificaciones" runat="server" />
        <div class="contenido-principal">
            <asp:ContentPlaceHolder ID="ContenidoPrincipal" runat="server" />
        </div>
        <uc:Footer ID="ucFooter" runat="server" />
        <uc:ModalCambiarClave ID="ucModalCambiarClave" runat="server" />
    </form>
</body>
</html>
